html {
    height: 100px;
    font-family: "Roboto", system-ui;
    font-size: 20px;
}
.przyciski {
    position: sticky;
    top: 120px; 
    display: flex; 
    justify-content: center; 
    padding: 10px;
    margin: 0 auto; 
    z-index: 1; 
    
}
body{
   
    margin: 0;
    padding: 0;
    height: 200vh;
        
    background-image: 
        url(../images/szklo.png),
        url(../images/sprucePlanks.jpg);
            
    background-repeat: repeat, repeat;
        
    background-position: 0 0, 0 0;
        
    background-attachment: scroll, fixed;    
    background-size: 100px 100px, 70px 70px;
}

.przyciski a {
    text-decoration: none;
    color: white;
    background-color: #04AA6D;
    border-radius: 15px 50px ;
    display: flex;
    margin: 4px 5px;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    transition: border-radius 0.5s ease;
    transition: color 0.5 ease;
}
.przyciski a:hover{
    border-radius: 20px 20px 20px 20px;
}

header {
    height: 3000px; 
    padding: 10px 20px;
}

section {
    position: sticky;
    top: 0;
}
.logo{
    display: flex;
    justify-content: center;
    height: 200px;
    width: auto;
    transform: translate(30px, 0px);
    
}
.przyciski a:hover
{
background-color: #058657
}
.przyciski a:active
{
 background-color: #044d32 ;
}
#clock {
    position: sticky;
    top: 0;
    width: 70px;
    margin: 0 auto ;
    background-color: #c6c6c6 ;
    padding: 10px 10px 10px 10px ;
    border: 5px solid black;

    margin-bottom: 40px;
    border-radius: 50px 50px 50px 50px;
    color: black; 
    z-index: 100;
}
.produkt-1{
    width: 600px;
  margin: 0 auto ;
  background-color: #292929 ;
  padding: 20px 20px 20px 20px ;
  border: 5px solid black;
  opacity: 0.9;
  margin-bottom: 50px;
  border-radius: 50px 50px 50px 50px;
  color: white;
}

.produkt-1{
    display: flex;
    
    gap: 2px;
    
}        
        

.szkłoczystezdj{
    
    max-width: 150px;
}
.nazwa{
    margin: 0;
}



.text-container {
    display: flex;
    flex-direction: column;
    
}
.szybaczystazdj {
    max-width: 150px;
}
.produkt-2{
    
        display: flex;
        
        
        
    
}
.produkt-2{
    width: 600px;
    margin: 0 auto ;
    background-color: #292929;
    padding: 20px 20px 20px 20px ;
    border: 5px solid #6f6f6d;
    border-radius: 50px 50px 50px 50px;
    opacity: 0.9;
    margin-bottom: 50px;
    
    
}
.produkt-name{
    color: #edf34c;
    
}
.produkt-description{
    color: white;
}
.produkt-3{
    width: 600px;
    margin: 0 auto ;
    background-color: #292929;
    padding: 20px 20px 20px 20px ;
    border: 5px solid #6f6f6d;
    border-radius: 50px 50px 50px 50px;
    
    margin-bottom: 50px;
    
     
}
.szybaprzyciemniana{
    max-width: 150px;
}
.produkt-3{
    display: flex;
    
    gap: 2px;
    
}        
.produkcja {
    width: 600px;
    margin: 0 auto ;
    background-color: #c6c6c6 ;
    padding: 20px 20px 20px 20px ;
    border: 5px solid black;

    margin-bottom: 50px;
    border-radius: 50px 50px 50px 50px;
    color: black; 
    display: flex;
    
}
.zdjęcieprodukcja{
    max-width: 300px;
}
.produkcja2{
    width: 600px;
    margin: 0 auto ;
    background-color: #c6c6c6 ;
    padding: 20px 20px 20px 20px ;
    border: 5px solid black;

    margin-bottom: 50px;
    border-radius: 50px 50px 50px 50px;
    color: black; 
    display: flex;
    
}
.zdjęcieprodukcja2{
    max-width: 300px;
}
.text-container2{
    color: black;
    margin-left: 58px;
    
}
.produkcja-3{
    width: 600px;
    margin: 0 auto ;
    background-color: #c6c6c6 ;
    padding: 20px 20px 20px 20px ;
    border: 5px solid black;

    margin-bottom: 50px;
    border-radius: 50px 50px 50px 50px;
    color: black; 
    display: flex;
    
}
.zdjęcieprodukcja3{
    max-width: 300px;
}
.text-container3{
    color: black;
    margin-left: 58px;
    
}
.produkcja-4{
    width: 600px;
    margin: 0 auto ;
    background-color: #c6c6c6 ;
    padding: 20px 20px 20px 20px ;
    border: 5px solid black;

    margin-bottom: 50px;
    border-radius: 50px 50px 50px 50px;
    color: black; 
    display: flex;
    
}
.zdjęcieprodukcja4{
    max-width: 300px;
}
.text-container4{
    color: black;
    margin-left: 58px;
    
}
.container {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 300px 300px 300px  ;
    justify-items: center;
    align-items: center;
    margin: 0 auto ;
    background-color: #292929 ;
    border: 5px solid black;
    border-radius: 50px 50px 50px 50px;
    position: absolute;
    margin-left: 350px;
}

#logo1{
    max-width: 600px;
}
.item{
    max-height: 300px;
}
.item-5{
    grid-area: 2 / 1 / 3/ -3;
    
}
#szkłotło{
    max-width: 150px;
    max-height: 150px;
}
#deskitło{
    max-width: 150px;
    max-height: 150px;
}
#szkło{
    max-width: 150px;
    max-height: 150px;
}
#szyby{
    max-width: 150px;
    max-height: 150px;
}
#procestworzenia3{
    max-width: 150px;
    max-height: 150px;
}
#procestworzenia2{
    max-width: 150px;
    max-height: 150px;
}
#procestworzenia1{
    max-width: 150px;
    max-height: 150px;
}

.autor{
    width: 600px;
    margin: 0 auto ;
    background-color: #292929;
    padding: 20px 20px 20px 20px ;
    border: 5px solid #6f6f6d;
    border-radius: 50px 50px 50px 50px;
    opacity: 0.9;
    margin-bottom: 50px;
    
    
}